* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    color: olive;
    padding: 0.5em;
}

nav {
    margin: 0 auto;
    width: 30vw;
}

nav ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    justify-content: space-around;
}

header {
    width: 100vw;
    height: 15vh;
    border: 1px solid black;
    background-color: gainsboro;

}

#derecha,
#izquierda {
    width: 25vw;
    height: auto;
    text-align: center;
}

.fondogris {
    background-color: gray;
}

#centro {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 60vh;
}

#centro article {
    width: 50vw;
    height: 50auto;
    border: 3px solid green;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 0.5em;
}

footer {
    text-align: center;
    width: 100vw;
    /* position: fixed; */
    /* bottom: 0; */
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

@media (max-width: 720px) {
    main {
        flex-direction: column;
    }

    #centro,
    #izquierda,
    #derecha,
    #centrado,
    #centrado1 {
        width: 100vw;
        height: auto;
        text-align: center;
        font-size: auto;
    }

    header {
        width: 100vw;
        height: auto;
        text-align: center;


    }

    h1 {
        padding: 0;
    }

    nav {
        width: 30vw;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
    }

    #centro article {
        width: 100vw;
        height: auto;
    }
}